<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Discover Web HCP">
    <title>Discover Web HCP</title>
  <link href="/index.css" rel="stylesheet"/>
</head>
<body>
    <% data.item.daily.forEach(function(day){ %>
        <%- include('report-daily', {day}); %>
    <% }); %>
      <script src="/index.js"></script>
</body>
</html>
